In [4]:
import pandas as pd

In [5]:
data=pd.read_excel(r'C:\Users\TB352CU\Downloads\Assignment_Pandas.xlsx')

In [6]:
data.head()

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0,NaN,NaN,NaN,NaN
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50,500.0,25000.0,NaN,NaN,NaN,NaN
2,2018-02-09,Central,Hermann,Luis,Television,36,1198.0,43128.0,NaN,NaN,NaN,NaN
3,2018-02-26,Central,Timothy,David,Cell Phone,27,225.0,6075.0,NaN,NaN,NaN,Questions
4,2018-03-15,West,Timothy,Stephen,Television,56,1198.0,67088.0,NaN,NaN,NaN,1. Which region is delivering maximum orders?

In [9]:
data1=data[['OrderDate','Region','Manager','SalesMan','Item','Units','Unit_price','Sale_amt']]

In [10]:
data1

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt
0,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50,500.0,25000.0
2,2018-02-09,Central,Hermann,Luis,Television,36,1198.0,43128.0
3,2018-02-26,Central,Timothy,David,Cell Phone,27,225.0,6075.0
4,2018-03-15,West,Timothy,Stephen,Television,56,1198.0,67088.0
5,2018-04-01,East,Martha,Alexander,Home Theater,60,500.0,30000.0
6,2018-04-18,Central,Martha,Steven,Television,75,1198.0,89850.0
7,2018-05-05,Central,Hermann,Luis,Television,90,1198.0,107820.0
8,2018-05-22,West,Douglas,Michael,Television,32,1198.0,38336.0
9,2018-06-08,East,Martha,Alexander,Home Theater,60,500.0,30000.0
10,2018-06-25,Central,Hermann,Sigal,Television,90,1198.0,107820.0
11,2018-07-12,East,Martha,Diana,Home Theater,29,500.0,14500.0
12,2018-07-29,East,Douglas,Karen,Home Theater,81,500.0,40500.0
13,2018-08-15,East,Martha,Alexander,Television,35,1198.0,41930.0
14,2018-09-01,Central,Douglas,John,Desk,2,125.0,250.0
15,2018-09-18,East,Martha,Alexander,Video Games,16,58.5,936.0
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28,500.0,14000.0
17,2018-10-22,East,Martha,Alexander,Cell Phone,64,225.0,14400.0
18,2018-11-08,East,Douglas,Karen,Cell Phone,15,225.0,3375.0
19,2018-11-25,Central,Hermann,Shelli,Video Games,96,58.5,5616.0
20,2018-12-12,Central,Douglas,John,Television,67,1198.0,80266.0
21,2018-12-29,East,Douglas,Karen,Video Games,74,58.5,4329.0
22,2019-01-15,Central,Timothy,David,Home Theater,46,500.0,23000.0
23,2019-02-01,Central,Douglas,John,Home Theater,87,500.0,43500.0
24,2019-02-18,East,Martha,Alexander,Home Theater,4,500.0,2000.0
25,2019-03-07,West,Timothy,Stephen,Home Theater,7,500.0,3500.0
26,2019-03-24,Central,Hermann,Luis,Video Games,50,58.5,2925.0
27,2019-04-10,Central,Martha,Steven,Television,66,1198.0,79068.0
28,2019-04-27,East,Martha,Diana,Cell Phone,96,225.0,21600.0
29,2019-05-14,Central,Timothy,David,Television,53,1198.0,63494.0
30,2019-05-31,Central,Timothy,David,Home Theater,80,500.0,40000.0
31,2019-06-17,Central,Hermann,Shelli,Desk,5,125.0,625.0
32,2019-07-04,East,Martha,Alexander,Video Games,62,58.5,3627.0
33,2019-07-21,Central,Hermann,Sigal,Video Games,55,58.5,3217.5
34,2019-08-07,Central,Hermann,Shelli,Video Games,42,58.5,2457.0
35,2019-08-24,West,Timothy,Stephen,Desk,3,125.0,375.0
36,2019-09-10,Central,Timothy,David,Television,7,1198.0,8386.0
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76,225.0,17100.0
38,2019-10-14,West,Douglas,Michael,Home Theater,57,500.0,28500.0
39,2019-10-31,Central,Martha,Steven,Television,14,1198.0,16772.0
40,2019-11-17,Central,Hermann,Luis,Home Theater,11,500.0,5500.0
41,2019-12-04,Central,Hermann,Luis,Home Theater,94,500.0,47000.0
42,2019-12-21,Central,Martha,Steven,Home Theater,28,500.0,14000.0

1. Which region is delivering maximum orders

In [11]:
region_orders=data1['Region'].value_counts()

In [12]:
region_orders.idxmax()

'Central'

2. Check the performance of all the managers and give rating to each manager start rating from A as top manager

In [13]:
manager_performance=data1.groupby('Manager')['Sale_amt'].sum()

In [14]:
manager_performance

Manager
Douglas    239056.0
Hermann    365108.5
Martha     472493.0
Timothy    229018.0
Name: Sale_amt, dtype: float64

In [15]:
Manger_rank=manager_performance.rank(ascending=False)

In [16]:
Manger_rank

Manager
Douglas    3.0
Hermann    2.0
Martha     1.0
Timothy    4.0
Name: Sale_amt, dtype: float64

In [17]:
for i in range(len(data1)):
    if data1['Manager'].iloc[i] == 'Martha':
        data1.loc[i, 'Manger_rating'] = 'A'
    elif data1['Manager'].iloc[i] == 'Hermann':
        data1.loc[i, 'Manger_rating'] = 'B'
    elif data1['Manager'].iloc[i] == 'Douglas':
        data1.loc[i, 'Manger_rating'] = 'C'
    elif data1['Manager'].iloc[i] == 'Timothy':
        data1.loc[i, 'Manger_rating'] = 'D'

print(data1)

    OrderDate   Region  Manager   SalesMan          Item  Units  Unit_price  \
0  2018-01-06     East   Martha  Alexander    Television     95      1198.0
1  2018-01-23  Central  Hermann     Shelli  Home Theater     50       500.0
2  2018-02-09  Central  Hermann       Luis    Television     36      1198.0
3  2018-02-26  Central  Timothy      David    Cell Phone     27       225.0
4  2018-03-15     West  Timothy    Stephen    Television     56      1198.0
5  2018-04-01     East   Martha  Alexander  Home Theater     60       500.0
6  2018-04-18  Central   Martha     Steven    Television     75      1198.0
7  2018-05-05  Central  Hermann       Luis    Television     90      1198.0
8  2018-05-22     West  Douglas    Michael    Television     32      1198.0
9  2018-06-08     East   Martha  Alexander  Home Theater     60       500.0
10 2018-06-25  Central  Hermann      Sigal    Television     90      1198.0
11 2018-07-12     East   Martha      Diana  Home Theater     29       500.0
12 2018-07-29     East  Douglas      Karen  Home Theater     81       500.0
13 2018-08-15     East   Martha  Alexander    Television     35      1198.0
14 2018-09-01  Central  Douglas       John          Desk      2       125.0
15 2018-09-18     East   Martha  Alexander   Video Games     16        58.5
16 2018-10-05  Central  Hermann      Sigal  Home Theater     28       500.0
17 2018-10-22     East   Martha  Alexander    Cell Phone     64       225.0
18 2018-11-08     East  Douglas      Karen    Cell Phone     15       225.0
19 2018-11-25  Central  Hermann     Shelli   Video Games     96        58.5
20 2018-12-12  Central  Douglas       John    Television     67      1198.0
21 2018-12-29     East  Douglas      Karen   Video Games     74        58.5
22 2019-01-15  Central  Timothy      David  Home Theater     46       500.0
23 2019-02-01  Central  Douglas       John  Home Theater     87       500.0
24 2019-02-18     East   Martha  Alexander  Home Theater      4       500.0
25 2019-03-07     West  Timothy    Stephen  Home Theater      7       500.0
26 2019-03-24  Central  Hermann       Luis   Video Games     50        58.5
27 2019-04-10  Central   Martha     Steven    Television     66      1198.0
28 2019-04-27     East   Martha      Diana    Cell Phone     96       225.0
29 2019-05-14  Central  Timothy      David    Television     53      1198.0
30 2019-05-31  Central  Timothy      David  Home Theater     80       500.0
31 2019-06-17  Central  Hermann     Shelli          Desk      5       125.0
32 2019-07-04     East   Martha  Alexander   Video Games     62        58.5
33 2019-07-21  Central  Hermann      Sigal   Video Games     55        58.5
34 2019-08-07  Central  Hermann     Shelli   Video Games     42        58.5
35 2019-08-24     West  Timothy    Stephen          Desk      3       125.0
36 2019-09-10  Central  Timothy      David    Television      7      1198.0
37 2019-09-27     West  Timothy    Stephen    Cell Phone     76       225.0
38 2019-10-14     West  Douglas    Michael  Home Theater     57       500.0
39 2019-10-31  Central   Martha     Steven    Television     14      1198.0
40 2019-11-17  Central  Hermann       Luis  Home Theater     11       500.0
41 2019-12-04  Central  Hermann       Luis  Home Theater     94       500.0
42 2019-12-21  Central   Martha     Steven  Home Theater     28       500.0

    Sale_amt Manger_rating
0   113810.0             A
1    25000.0             B
2    43128.0             B
3     6075.0             D
4    67088.0             D
5    30000.0             A
6    89850.0             A
7   107820.0             B
8    38336.0             C
9    30000.0             A
10  107820.0             B
11   14500.0             A
12   40500.0             C
13   41930.0             A
14     250.0             C
15     936.0             A
16   14000.0             B
17   14400.0             A
18    3375.0             C
19    5616.0             B
20   80266.0             C
21    4329.0             C
22   23000.0             D
23   43500.0             C
24    2000.0             A
25    3500.0             D
26    2925.0             B
27   79068.0             A
28   21600.0             A
29   63494.0             D
30   40000.0             D
31     625.0             B
32    3627.0             A
33    3217.5             B
34    2457.0             B
35     375.0             D
36    8386.0             D
37   17100.0             D
38   28500.0             C
39   16772.0             A
40    5500.0             B
41   47000.0             B
42   14000.0             A

C:\Users\TB352CU\AppData\Local\Temp\ipykernel_3332\1348144455.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1.loc[i, 'Manger_rating'] = 'A'

3. Remove special characters, fill missing values, remove duplicate rows, convert OrderDate column to datetime

In [18]:
#Chcek any null values is there or not

In [19]:
data1.isnull().sum()

OrderDate        0
Region           0
Manager          0
SalesMan         0
Item             0
Units            0
Unit_price       0
Sale_amt         0
Manger_rating    0
dtype: int64

In [20]:
import string
alphabet = string.ascii_letters+string.punctuation

In [21]:
data1.columns.str.strip(alphabet).astype(bool).any()

False

In [22]:
#no special character present in this dataframe

In [23]:
data1.columns.duplicated().sum()

0

In [24]:
#duplicate value is not in dataframe

In [25]:
data1['OrderDate']=pd.to_datetime(data1['OrderDate'])

C:\Users\TB352CU\AppData\Local\Temp\ipykernel_3332\3056005466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['OrderDate']=pd.to_datetime(data1['OrderDate'])

In [26]:
data1

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,Manger_rating
0,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0,A
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50,500.0,25000.0,B
2,2018-02-09,Central,Hermann,Luis,Television,36,1198.0,43128.0,B
3,2018-02-26,Central,Timothy,David,Cell Phone,27,225.0,6075.0,D
4,2018-03-15,West,Timothy,Stephen,Television,56,1198.0,67088.0,D
5,2018-04-01,East,Martha,Alexander,Home Theater,60,500.0,30000.0,A
6,2018-04-18,Central,Martha,Steven,Television,75,1198.0,89850.0,A
7,2018-05-05,Central,Hermann,Luis,Television,90,1198.0,107820.0,B
8,2018-05-22,West,Douglas,Michael,Television,32,1198.0,38336.0,C
9,2018-06-08,East,Martha,Alexander,Home Theater,60,500.0,30000.0,A
10,2018-06-25,Central,Hermann,Sigal,Television,90,1198.0,107820.0,B
11,2018-07-12,East,Martha,Diana,Home Theater,29,500.0,14500.0,A
12,2018-07-29,East,Douglas,Karen,Home Theater,81,500.0,40500.0,C
13,2018-08-15,East,Martha,Alexander,Television,35,1198.0,41930.0,A
14,2018-09-01,Central,Douglas,John,Desk,2,125.0,250.0,C
15,2018-09-18,East,Martha,Alexander,Video Games,16,58.5,936.0,A
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28,500.0,14000.0,B
17,2018-10-22,East,Martha,Alexander,Cell Phone,64,225.0,14400.0,A
18,2018-11-08,East,Douglas,Karen,Cell Phone,15,225.0,3375.0,C
19,2018-11-25,Central,Hermann,Shelli,Video Games,96,58.5,5616.0,B
20,2018-12-12,Central,Douglas,John,Television,67,1198.0,80266.0,C
21,2018-12-29,East,Douglas,Karen,Video Games,74,58.5,4329.0,C
22,2019-01-15,Central,Timothy,David,Home Theater,46,500.0,23000.0,D
23,2019-02-01,Central,Douglas,John,Home Theater,87,500.0,43500.0,C
24,2019-02-18,East,Martha,Alexander,Home Theater,4,500.0,2000.0,A
25,2019-03-07,West,Timothy,Stephen,Home Theater,7,500.0,3500.0,D
26,2019-03-24,Central,Hermann,Luis,Video Games,50,58.5,2925.0,B
27,2019-04-10,Central,Martha,Steven,Television,66,1198.0,79068.0,A
28,2019-04-27,East,Martha,Diana,Cell Phone,96,225.0,21600.0,A
29,2019-05-14,Central,Timothy,David,Television,53,1198.0,63494.0,D
30,2019-05-31,Central,Timothy,David,Home Theater,80,500.0,40000.0,D
31,2019-06-17,Central,Hermann,Shelli,Desk,5,125.0,625.0,B
32,2019-07-04,East,Martha,Alexander,Video Games,62,58.5,3627.0,A
33,2019-07-21,Central,Hermann,Sigal,Video Games,55,58.5,3217.5,B
34,2019-08-07,Central,Hermann,Shelli,Video Games,42,58.5,2457.0,B
35,2019-08-24,West,Timothy,Stephen,Desk,3,125.0,375.0,D
36,2019-09-10,Central,Timothy,David,Television,7,1198.0,8386.0,D
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76,225.0,17100.0,D
38,2019-10-14,West,Douglas,Michael,Home Theater,57,500.0,28500.0,C
39,2019-10-31,Central,Martha,Steven,Television,14,1198.0,16772.0,A
40,2019-11-17,Central,Hermann,Luis,Home Theater,11,500.0,5500.0,B
41,2019-12-04,Central,Hermann,Luis,Home Theater,94,500.0,47000.0,B
42,2019-12-21,Central,Martha,Steven,Home Theater,28,500.0,14000.0,A

4. Calculate the number of days from todays date and check how old the order is

In [27]:
from datetime import datetime

In [28]:
curr_time = pd.Timestamp(datetime.now().date())

In [29]:
curr_time

Timestamp('2023-08-20 00:00:00')

In [50]:
data1['OrderDate'] = pd.to_datetime(data1['OrderDate'], infer_datetime_format=True)

C:\Users\TB352CU\AppData\Local\Temp\ipykernel_11128\2470805062.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['OrderDate'] = pd.to_datetime(data1['OrderDate'], infer_datetime_format=True)

In [32]:
data1['DaysOld'] = (curr_time - data1['OrderDate']).dt.days

C:\Users\TB352CU\AppData\Local\Temp\ipykernel_11128\732620680.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['DaysOld'] = (curr_time - data1['OrderDate']).dt.days

In [33]:
data1

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,Manger_rating,DaysOld
0,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0,A,2052
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50,500.0,25000.0,B,2035
2,2018-02-09,Central,Hermann,Luis,Television,36,1198.0,43128.0,B,2018
3,2018-02-26,Central,Timothy,David,Cell Phone,27,225.0,6075.0,D,2001
4,2018-03-15,West,Timothy,Stephen,Television,56,1198.0,67088.0,D,1984
5,2018-04-01,East,Martha,Alexander,Home Theater,60,500.0,30000.0,A,1967
6,2018-04-18,Central,Martha,Steven,Television,75,1198.0,89850.0,A,1950
7,2018-05-05,Central,Hermann,Luis,Television,90,1198.0,107820.0,B,1933
8,2018-05-22,West,Douglas,Michael,Television,32,1198.0,38336.0,C,1916
9,2018-06-08,East,Martha,Alexander,Home Theater,60,500.0,30000.0,A,1899
10,2018-06-25,Central,Hermann,Sigal,Television,90,1198.0,107820.0,B,1882
11,2018-07-12,East,Martha,Diana,Home Theater,29,500.0,14500.0,A,1865
12,2018-07-29,East,Douglas,Karen,Home Theater,81,500.0,40500.0,C,1848
13,2018-08-15,East,Martha,Alexander,Television,35,1198.0,41930.0,A,1831
14,2018-09-01,Central,Douglas,John,Desk,2,125.0,250.0,C,1814
15,2018-09-18,East,Martha,Alexander,Video Games,16,58.5,936.0,A,1797
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28,500.0,14000.0,B,1780
17,2018-10-22,East,Martha,Alexander,Cell Phone,64,225.0,14400.0,A,1763
18,2018-11-08,East,Douglas,Karen,Cell Phone,15,225.0,3375.0,C,1746
19,2018-11-25,Central,Hermann,Shelli,Video Games,96,58.5,5616.0,B,1729
20,2018-12-12,Central,Douglas,John,Television,67,1198.0,80266.0,C,1712
21,2018-12-29,East,Douglas,Karen,Video Games,74,58.5,4329.0,C,1695
22,2019-01-15,Central,Timothy,David,Home Theater,46,500.0,23000.0,D,1678
23,2019-02-01,Central,Douglas,John,Home Theater,87,500.0,43500.0,C,1661
24,2019-02-18,East,Martha,Alexander,Home Theater,4,500.0,2000.0,A,1644
25,2019-03-07,West,Timothy,Stephen,Home Theater,7,500.0,3500.0,D,1627
26,2019-03-24,Central,Hermann,Luis,Video Games,50,58.5,2925.0,B,1610
27,2019-04-10,Central,Martha,Steven,Television,66,1198.0,79068.0,A,1593
28,2019-04-27,East,Martha,Diana,Cell Phone,96,225.0,21600.0,A,1576
29,2019-05-14,Central,Timothy,David,Television,53,1198.0,63494.0,D,1559
30,2019-05-31,Central,Timothy,David,Home Theater,80,500.0,40000.0,D,1542
31,2019-06-17,Central,Hermann,Shelli,Desk,5,125.0,625.0,B,1525
32,2019-07-04,East,Martha,Alexander,Video Games,62,58.5,3627.0,A,1508
33,2019-07-21,Central,Hermann,Sigal,Video Games,55,58.5,3217.5,B,1491
34,2019-08-07,Central,Hermann,Shelli,Video Games,42,58.5,2457.0,B,1474
35,2019-08-24,West,Timothy,Stephen,Desk,3,125.0,375.0,D,1457
36,2019-09-10,Central,Timothy,David,Television,7,1198.0,8386.0,D,1440
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76,225.0,17100.0,D,1423
38,2019-10-14,West,Douglas,Michael,Home Theater,57,500.0,28500.0,C,1406
39,2019-10-31,Central,Martha,Steven,Television,14,1198.0,16772.0,A,1389
40,2019-11-17,Central,Hermann,Luis,Home Theater,11,500.0,5500.0,B,1372
41,2019-12-04,Central,Hermann,Luis,Home Theater,94,500.0,47000.0,B,1355
42,2019-12-21,Central,Martha,Steven,Home Theater,28,500.0,14000.0,A,1338

5. Create a Pivot table and count the manager wise sale and mean value of sale amount

In [34]:
pivot_table = data1.pivot_table(index='Manager', values=['Sale_amt'], aggfunc={'Sale_amt': ['count', 'mean']},sort=False)
print(pivot_table)

        Sale_amt
           count          mean
Manager
Martha        14  33749.500000
Hermann       12  30425.708333
Timothy        9  25446.444444
Douglas        8  29882.000000

6. Create a Pivot table and find the total sale amount region wise, manager wise, sales man wise where Manager = "Douglas"

In [36]:
pivot_table_1 = data1[data1['Manager'] == 'Douglas'].pivot_table(
    index=['Region', 'Manager', 'SalesMan'],
    values=['Sale_amt'],
    aggfunc={'Sale_amt': 'sum'}
)

In [37]:
print(pivot_table_1)

                          Sale_amt
Region  Manager SalesMan
Central Douglas John      124016.0
East    Douglas Karen      48204.0
West    Douglas Michael    66836.0

7. keep those rows which are having atmost two NaNs

In [38]:
#No nan value is present

8. Group on Region, Manager, SalesMan, Item then sort sum of Sale_amt within the group

In [39]:
grouped = data1.groupby(['Region', 'Manager', 'SalesMan', 'Item'])['Sale_amt'].sum().reset_index()
sorted_grouped = grouped.sort_values(by='Sale_amt', ascending=False)

In [40]:
print(sorted_grouped)

     Region  Manager   SalesMan          Item  Sale_amt
13  Central   Martha     Steven    Television  185690.0
22     East   Martha  Alexander    Television  155740.0
4   Central  Hermann       Luis    Television  150948.0
10  Central  Hermann      Sigal    Television  107820.0
2   Central  Douglas       John    Television   80266.0
16  Central  Timothy      David    Television   71880.0
31     West  Timothy    Stephen    Television   67088.0
15  Central  Timothy      David  Home Theater   63000.0
21     East   Martha  Alexander  Home Theater   62000.0
3   Central  Hermann       Luis  Home Theater   52500.0
1   Central  Douglas       John  Home Theater   43500.0
18     East  Douglas      Karen  Home Theater   40500.0
27     West  Douglas    Michael    Television   38336.0
26     West  Douglas    Michael  Home Theater   28500.0
7   Central  Hermann     Shelli  Home Theater   25000.0
24     East   Martha      Diana    Cell Phone   21600.0
28     West  Timothy    Stephen    Cell Phone   17100.0
25     East   Martha      Diana  Home Theater   14500.0
20     East   Martha  Alexander    Cell Phone   14400.0
12  Central   Martha     Steven  Home Theater   14000.0
9   Central  Hermann      Sigal  Home Theater   14000.0
8   Central  Hermann     Shelli   Video Games    8073.0
14  Central  Timothy      David    Cell Phone    6075.0
23     East   Martha  Alexander   Video Games    4563.0
19     East  Douglas      Karen   Video Games    4329.0
30     West  Timothy    Stephen  Home Theater    3500.0
17     East  Douglas      Karen    Cell Phone    3375.0
11  Central  Hermann      Sigal   Video Games    3217.5
5   Central  Hermann       Luis   Video Games    2925.0
6   Central  Hermann     Shelli          Desk     625.0
29     West  Timothy    Stephen          Desk     375.0
0   Central  Douglas       John          Desk     250.0

9. Split the dataframe in the groups based on region and set manager, salesman and item column values into list of values

In [41]:
new_grouped = data1.groupby('Region').agg({'Manager': 'unique', 'SalesMan': 'unique', 'Item': 'unique'}).reset_index()
new_grouped

,Region,Manager,SalesMan,Item
0,Central,"[Hermann, Timothy, Martha, Douglas]","[Shelli, Luis, David, Steven, Sigal, John]","[Home Theater, Television, Cell Phone, Desk, V..."
1,East,"[Martha, Douglas]","[Alexander, Diana, Karen]","[Television, Home Theater, Video Games, Cell P..."
2,West,"[Timothy, Douglas]","[Stephen, Michael]","[Television, Home Theater, Desk, Cell Phone]"

10. Check if OrderDate is business day (weekday) or not

In [43]:
data1['IsBusinessDay'] = data1['OrderDate'].dt.weekday < 5

C:\Users\TB352CU\AppData\Local\Temp\ipykernel_11128\2533832844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['IsBusinessDay'] = data1['OrderDate'].dt.weekday < 5

In [44]:
data1

,OrderDate,Region,Manager,SalesMan,Item,Units,Unit_price,Sale_amt,Manger_rating,DaysOld,IsBusinessDay
0,2018-01-06,East,Martha,Alexander,Television,95,1198.0,113810.0,A,2052,False
1,2018-01-23,Central,Hermann,Shelli,Home Theater,50,500.0,25000.0,B,2035,True
2,2018-02-09,Central,Hermann,Luis,Television,36,1198.0,43128.0,B,2018,True
3,2018-02-26,Central,Timothy,David,Cell Phone,27,225.0,6075.0,D,2001,True
4,2018-03-15,West,Timothy,Stephen,Television,56,1198.0,67088.0,D,1984,True
5,2018-04-01,East,Martha,Alexander,Home Theater,60,500.0,30000.0,A,1967,False
6,2018-04-18,Central,Martha,Steven,Television,75,1198.0,89850.0,A,1950,True
7,2018-05-05,Central,Hermann,Luis,Television,90,1198.0,107820.0,B,1933,False
8,2018-05-22,West,Douglas,Michael,Television,32,1198.0,38336.0,C,1916,True
9,2018-06-08,East,Martha,Alexander,Home Theater,60,500.0,30000.0,A,1899,True
10,2018-06-25,Central,Hermann,Sigal,Television,90,1198.0,107820.0,B,1882,True
11,2018-07-12,East,Martha,Diana,Home Theater,29,500.0,14500.0,A,1865,True
12,2018-07-29,East,Douglas,Karen,Home Theater,81,500.0,40500.0,C,1848,False
13,2018-08-15,East,Martha,Alexander,Television,35,1198.0,41930.0,A,1831,True
14,2018-09-01,Central,Douglas,John,Desk,2,125.0,250.0,C,1814,False
15,2018-09-18,East,Martha,Alexander,Video Games,16,58.5,936.0,A,1797,True
16,2018-10-05,Central,Hermann,Sigal,Home Theater,28,500.0,14000.0,B,1780,True
17,2018-10-22,East,Martha,Alexander,Cell Phone,64,225.0,14400.0,A,1763,True
18,2018-11-08,East,Douglas,Karen,Cell Phone,15,225.0,3375.0,C,1746,True
19,2018-11-25,Central,Hermann,Shelli,Video Games,96,58.5,5616.0,B,1729,False
20,2018-12-12,Central,Douglas,John,Television,67,1198.0,80266.0,C,1712,True
21,2018-12-29,East,Douglas,Karen,Video Games,74,58.5,4329.0,C,1695,False
22,2019-01-15,Central,Timothy,David,Home Theater,46,500.0,23000.0,D,1678,True
23,2019-02-01,Central,Douglas,John,Home Theater,87,500.0,43500.0,C,1661,True
24,2019-02-18,East,Martha,Alexander,Home Theater,4,500.0,2000.0,A,1644,True
25,2019-03-07,West,Timothy,Stephen,Home Theater,7,500.0,3500.0,D,1627,True
26,2019-03-24,Central,Hermann,Luis,Video Games,50,58.5,2925.0,B,1610,False
27,2019-04-10,Central,Martha,Steven,Television,66,1198.0,79068.0,A,1593,True
28,2019-04-27,East,Martha,Diana,Cell Phone,96,225.0,21600.0,A,1576,False
29,2019-05-14,Central,Timothy,David,Television,53,1198.0,63494.0,D,1559,True
30,2019-05-31,Central,Timothy,David,Home Theater,80,500.0,40000.0,D,1542,True
31,2019-06-17,Central,Hermann,Shelli,Desk,5,125.0,625.0,B,1525,True
32,2019-07-04,East,Martha,Alexander,Video Games,62,58.5,3627.0,A,1508,True
33,2019-07-21,Central,Hermann,Sigal,Video Games,55,58.5,3217.5,B,1491,False
34,2019-08-07,Central,Hermann,Shelli,Video Games,42,58.5,2457.0,B,1474,True
35,2019-08-24,West,Timothy,Stephen,Desk,3,125.0,375.0,D,1457,False
36,2019-09-10,Central,Timothy,David,Television,7,1198.0,8386.0,D,1440,True
37,2019-09-27,West,Timothy,Stephen,Cell Phone,76,225.0,17100.0,D,1423,True
38,2019-10-14,West,Douglas,Michael,Home Theater,57,500.0,28500.0,C,1406,True
39,2019-10-31,Central,Martha,Steven,Television,14,1198.0,16772.0,A,1389,True
40,2019-11-17,Central,Hermann,Luis,Home Theater,11,500.0,5500.0,B,1372,False
41,2019-12-04,Central,Hermann,Luis,Home Theater,94,500.0,47000.0,B,1355,True
42,2019-12-21,Central,Martha,Steven,Home Theater,28,500.0,14000.0,A,1338,False